

.cut-corner.cc-tr {
    background:
            linear-gradient(225deg, transparent var(--notchSize), var(--articleBackground) 0) top right;
}
.cut-corner.cc-tl {
    background:
            linear-gradient(135deg, transparent var(--notchSize), var(--articleBackground) 0) top left;
}
.cut-corner.cc-br {
    background:
            linear-gradient(315deg, transparent var(--notchSize), var(--articleBackground) 0) bottom right;
}
.cut-corner.cc-bl {
    background:
            linear-gradient(45deg,  transparent var(--notchSize), var(--articleBackground) 0) bottom left;
}
.cut-corners {
    background:
            linear-gradient(135deg, transparent var(--notchSize), var(--articleBackground) 0) top left,
            linear-gradient(225deg, transparent var(--notchSize), var(--articleBackground) 0) top right,
            linear-gradient(315deg, transparent var(--notchSize), var(--articleBackground) 0) bottom right,
            linear-gradient(45deg,  transparent var(--notchSize), var(--articleBackground) 0) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
}
.cut-corners.cc-tl.cc-tr {
    background:
            linear-gradient(135deg, transparent var(--notchSize), var(--articleBackground) 0) top left,
            linear-gradient(225deg, transparent var(--notchSize), var(--articleBackground) 0) top right,
            linear-gradient(315deg, transparent 0, var(--articleBackground) 0) bottom right,
            linear-gradient(45deg,  transparent 0, var(--articleBackground) 0) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
}
.cut-corners.cc-tl.cc-bl {
    background:
            linear-gradient(135deg, transparent var(--notchSize), var(--articleBackground) 0) top left,
            linear-gradient(225deg, transparent 0, var(--articleBackground) 0) top right,
            linear-gradient(315deg, transparent 0, var(--articleBackground) 0) bottom right,
            linear-gradient(45deg,  transparent var(--notchSize), var(--articleBackground) 0) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
}
.cut-corners.cc-tl.cc-br {
    background:
            linear-gradient(135deg, transparent var(--notchSize), var(--articleBackground) 0) top left,
            linear-gradient(225deg, transparent 0, var(--articleBackground) 0) top right,
            linear-gradient(315deg, transparent var(--notchSize), var(--articleBackground) 0) bottom right,
            linear-gradient(45deg,  transparent 0, var(--articleBackground) 0) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
}
.cut-corners.cc-tr.cc-bl {
    background:
            linear-gradient(135deg, transparent 0, var(--articleBackground) 0) top left,
            linear-gradient(225deg, transparent var(--notchSize), var(--articleBackground) 0) top right,
            linear-gradient(315deg, transparent 0, var(--articleBackground) 0) bottom right,
            linear-gradient(45deg,  transparent var(--notchSize), var(--articleBackground) 0) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
}
.cut-corners.cc-tr.cc-br {
    background:
            linear-gradient(135deg, transparent 0, var(--articleBackground) 0) top left,
            linear-gradient(225deg, transparent var(--notchSize), var(--articleBackground) 0) top right,
            linear-gradient(315deg, transparent var(--notchSize), var(--articleBackground) 0) bottom right,
            linear-gradient(45deg,  transparent 0, var(--articleBackground) 0) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
}